---
layout: default
title: Terms
---
<div id="content">
  <div class="container txt-lefty">     
    <div class="row">

      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div id="gitlab-com">
                <h2 class="terms">GitLab.com Terms</h2>
                <p><a href="print/gitlab_com_terms.pdf">PDF Preview</a></p>
                {% include gitlab_com_terms.html %}
              </div>

              <div id="subscription">
                <h2 class="terms">Gitlab Subscription Terms</h2>
                <p><a href="print/gitlab_subscription_terms.pdf">PDF Preview</a></p>
                {% include subscription_terms.html %}
              </div>

              <div id="consultancy">
                <h2 class="terms">Gitlab Consultancy Terms</h2>
                <p><a href="print/gitlab_consultancy_terms.pdf">PDF Preview</a></p>
                {% include consultancy_terms.html %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="entry">
          <ul>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/dmca">DMCA Policy</a></li>
            <li><a href="/disclosure">Responsible Disclosure Policy</a></li>
            <li><a href="#gitlab_com">GitLab.com Terms</a></li>
            <li><a href="#subscription">GitLab Subscription Terms</a></li>
            <li><a href="#consultancy">GitLab Consultancy Terms</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
