---
layout: default
title: Responsible Disclosure Policy
---
<div id="content">
  <div class="container txt-lefty">     
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>Please email support@gitlab.com to report any security vulnerabilities. Please refrain from requesting compensation for reporting vulnerabilities. We will acknowledge receipt of your vulnerability report and send you regular updates about our progress. If you want we will <a title="Vulnerability Acknowledgements" href="/vulnerability-acknowledgements/">publicly acknowledge</a> your responsible disclosure.</p>
              <p>You are not allowed to search for vulnerabilities on GitLab.com itself. GitLab is open source software, you can install a copy yourself and test against that. There is also a <a href="http://demo.gitlab.com/">demo server</a> to test against. If you want to perform testing that might break things please contact us to arrange access to a staging server.</p>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
