---
layout: default
title: Community
---

<div id="content" class="txt-middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a href="/core-team"><h2>Core Team</h2></a>
        <p>People behind the open-source project.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="http://contributors.gitlab.com/"><h2>Contributors</h2></a>
        <p>People who contributed to the open-source project.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/documentation"><h2>Documentation</h2></a>
        <p>All GitLab projects in one place.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/getting-help"><h2>Getting Help</h2></a>
        <p>How to get help and stay informed.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/contributing"><h2>Contributing</h2></a>
        <p>Information on how to contribute to the projects.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/applications"><h2>Applications</h2></a>
        <p>List of applications which support GitLab.</p>
      </div>
    </div>
  </div>
</div>
