---
layout: default
title: Open source software to collaborate on code
suppress_header: true
---
<div id="landing">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center">
        <h1 class="landing-header">Open source software to collaborate on code</h1>

        <div class="col-sm-12 col-md-12 text-left">
          <p class="text-center">
            GitLab offers git repository management, code reviews, issue tracking, activity feeds, wikis.
            It has LDAP/AD integration, handles 25,000 users on a single server but can also run on a highly available active/active cluster.
            A subscription gives you access to our support team and to GitLab Enterprise Edition that contains extra features aimed at larger organizations.
          </p>

          <div class="landing-button">
            <a class="btn btn-info btn-lg action-button" href="/features/" onClick="_gaq.push(['_trackEvent', 'Landing page', 'call to action', 'Features']);"> Features</a>
            <a href="/subscription" class="btn btn-success btn-lg action-button" onClick="_gaq.push(['_trackEvent', 'Landing page', 'call to action', 'Get a subscription']);">Get a subscription</a>
            <a href="/downloads" class="btn btn-warning btn-lg action-button" onClick="_gaq.push(['_trackEvent', 'Landing page', 'call to action', 'Downloads']);">Downloads</a>
          </div>
        </div>

        <div class="container">
          <img src="/images/main_screenshot.png" class="img-responsive main-screenshot">
        </div>


      </div>
    </div>
  </div>
</div>

<div id="content">
    <div class="row text-center">
      <h2 class="light">GitLab is used in more than <b>100,000</b> organizations</h2>
      <br />
    </div>
    <div class="row text-center">
        <img class="user_logo" alt="image" src="/images/organizations/user_1.png"><img class="user_logo" alt="image" src="/images/organizations/user_2.png"><img class="user_logo" alt="image" src="/images/organizations/user_3.png"><img class="user_logo" alt="image" src="/images/organizations/user_4.png"><img class="user_logo" alt="image" src="/images/organizations/user_5.png"><img class="user_logo" alt="image" src="/images/organizations/user_6.png"><img class="user_logo" alt="image" src="/images/organizations/user_7.png"><img class="user_logo" alt="image" src="/images/organizations/user_9.png"><img class="user_logo" alt="image" src="/images/organizations/user_11.png"><img class="user_logo" alt="image" src="/images/organizations/user_12.png"><img class="user_logo" alt="image" src="/images/organizations/user_14.png"><img class="user_logo" alt="image" src="/images/organizations/user_15.png"><img class="user_logo" alt="image" src="/images/organizations/user_16.png"><img class="user_logo" alt="image" src="/images/organizations/user_17.png"><img class="user_logo" alt="image" src="/images/organizations/user_29.png"><img class="user_logo" alt="image" src="/images/organizations/user_28.png"><img class="user_logo" alt="image" src="/images/organizations/user_27.png"><img class="user_logo" alt="image" src="/images/organizations/user_26.png"><img class="user_logo" alt="image" src="/images/organizations/user_25.png"><img class="user_logo" alt="image" src="/images/organizations/user_24.png"><img class="user_logo" alt="image" src="/images/organizations/user_23.png"><img class="user_logo" alt="image" src="/images/organizations/user_22.png"><img class="user_logo" alt="image" src="/images/organizations/user_21.png"><img class="user_logo" alt="image" src="/images/organizations/user_30.png"><img class="user_logo" alt="image" src="/images/organizations/user_20.png"><img class="user_logo" alt="image" src="/images/organizations/user_19.png"><img class="user_logo" alt="image" src="/images/organizations/user_18.png">
        <br />
        <small>All logos and trademarks are the property of their respective owners.</small>
    </div>
    <br>
</div>

<div class="row testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8">

        <blockquote>
          <p>"My department has been using GitLab since version 1.0 and have found
        that it's a good code sharing platform that keeps getting better with
        each release. GitLab fills our need and desire for such code sharing
        capability while at the same time satisfying the organizations
        direction that University intellectual property not be placed on
        public cloud-based services outside of campus."</p>
          <footer>Troy Murray - Information Technologist II - <a href="http://www.msu.edu/">Michigan State University</a></footer>
        </blockquote>

        <br />
        <br />
        <br />

        <blockquote>
          <p>"Gitlab is an excellent option..... not only more user friendly than Gitorious but also easier to install."</p>
          <footer>Hongli Lai - <a href="http://www.phusion.nl/">Phusion</a> - makers of Passenger, the most popular ruby application server</footer>
        </blockquote>

        <br />
        <br />
        <br />

        <blockquote>
          <p>"The on-premise installation is a big advantage for companies that need to keep sensitive information in-house."</p>
          <footer>Keith Harris in <a href="https://www.gitlab.com/case-studies/360i-transitions-to-gitlab/">their case study on GitLab</a>  - associate director - <a href="http://www.360i.com/">360i</a></footer>
        </blockquote>
      </div>

      <div class="col-sm-4 col-md-4">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/gitlabhq/favorites" data-widget-id="442933421942132736">Favorite Tweets by @gitlabhq</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>

<div class="row videos">
  <div class="col-sm-12 col-md-12">
    <h1 class="text-center">Working effectively with GitLab issues and merge requests</h2>
    <br />
    <div class="col-sm-12 col-md-12 text-center">
       <iframe class="videoembed" src="https://www.youtube.com/embed/raXvuwet78M" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
